<ion-view view-title="Города">
  <div class="bar bar-header bar-assertive">
    <h1 class="title">bar-assertive</h1>
  </div>
  <ion-content class="padding">
    <ion-list>
        <a class="item item-avatar" ng-repeat="city in cities" href="#/tab/city/{{city.id}}" ng-click="click()">
          <img ng-src="{{city.emblem}}">
          <h2>{{city.name}}</h2>
          <p>{{city.desc}}</p>
        </a>
      <audio id="orientationSound">
        <source src="/android_asset/www/sound/notific.mp3" type="audio/mpeg">
        Your browser does not support the audio element.
      </audio>

        <a class="item item-icon-left" href="#">
          <i class="icon ion-email"></i>
          Check mail
        </a>
        <a class="item item-icon-left item-icon-right" href="#">
          <i class="icon ion-chatbubble-working"></i>
          Call Ma
          <i class="icon ion-ios-telephone-outline"></i>
        </a>

        <a class="item item-icon-left" href="#">
          <i class="icon ion-mic-a"></i>
          Record album
    <span class="item-note">
      Grammy
    </span>
        </a>
    </ion-list>
  </ion-content>
</ion-view>
