<ion-view class="app1-background">
    <ion-content>
        {{words.title}}
<img ng-class="{true: 'stay1', false: 'stay2'}[words.imageStay]"/>
        <jqcloud words="words.list" width="300" height="150" steps="7" id="jcloud"></jqcloud>

        <!--<video>-->
            <!--<source src="/android_asset/www/video/sow.mov">-->
        <!--</video>-->
        <!--<video controls="controls" width="800" height="600" name="Video Name" src="/android_asset/www/video/sow.mov"></video>-->

        <!--<div class="embeddedVideo">-->
            <!--<object classid='clsid:02BF25D5-8C17-4B23-BC80-D3488ABDDC6B'-->
                    <!--width="600" height="400">-->
                <!--<param name='src' value="/android_asset/www/video/sow.mov">-->
                <!--<param name='autoplay' value="false">-->
                <!--<param name='controller' value="true">-->
                <!--<param name='loop' value="false">-->

                <!--<embed src="/android_asset/www/video/sow.mov" width="600" height="400"-->
                       <!--scale="tofit" autoplay="true"-->
                       <!--controller="true" loop="false" bgcolor="#000000">-->
                <!--</embed>-->
            <!--</object>-->
        <!--</div>-->
        <!--<div class="block" ng-switch="words.items.length > 0">-->
            <!--<div class="list" ng-repeat="item in words.items" ng-switch-when="true">-->
                <!--<p>-->
                    <!--{{item.name}} -&#45;&#45; {{item.filename}}-->
                <!--<div style="width:20px; height: 20px">-->
                    <!--<i style="margin-left:15px;" class="ion-close-round" ng-click="words.remove(item.id)"></i>-->
                <!--</div>-->
                <!--</p>-->
            <!--</div>-->
            <!--<span ng-switch-when="false"> No data</span>-->
        <!--</div>-->


        <!--<label class="item item-input">-->
            <!--<span class="input-label">Name: </span>-->
            <!--<input type="text" ng-model="words.model.name" placeholder="please enter word">-->
        <!--</label>-->
        <!--<label class="item item-input">-->
            <!--<span class="input-label">Music Name: </span>-->
            <!--<input type="text" ng-model="words.model.filename" placeholder="please enter music name">-->
        <!--</label>-->
        <!--<button class="button button-block" ng-click="words.save()">-->
            <!--Save-->
        <!--</button>-->

    </ion-content>
</ion-view>
<!--<script>-->
<!--//    $('#demo').jQCloud(words, {-->
<!--//        autoResize: true-->
<!--//    });-->
<!--</script>-->