<ion-view class="app1-background">
    <ion-content>
        <div class="row">
            <!--<div class="col col-50">-->
                <!--<jqcloud auto-resize="true" font-size="{from:0.3, to:0.1}" words="words.currentItem.list" steps="7" id="cloud-dynamic"></jqcloud>-->
            <!--</div>-->
            <!--<div class="col col-50">-->
                <!--<div class="list" ng-if="!words.end">-->
                    <!--<div id="word-cloud">-->
                        <!--<span style="cursor:pointer" ng-click="words.imageStay || words.sayWord(item)" ng-disabled="words.imageStay" ng-repeat="item in words.currentItem.list" class="word-{{$index+1}}">{{item.text}}</span>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
            <div class="col col-50">
                <div class="list" ng-if="!words.end">
                    <div class="item" style="float:left; width:50%; border:0px;" ng-repeat="item in words.currentItem.list" ng-click="words.imageStay || words.sayWord(item)" ng-disabled="words.imageStay">
                        <span>{{item.text}}</span>
                    </div>
                </div>
            </div>
            <div class="col col-50">
                {{words.currentItem.name}}
                <img ng-class="{true: 'stay1', false: 'stay2'}[words.imageStay]"/>
            </div>
            <audio src="{{words.file}}" id="sound"></audio>
        </div>
    </ion-content>
</ion-view>
