@media screen and (max-width: 670px) and (min-width: 580px){
  .list {
    .item {
      font-size: 11px;
    }
  }
  .speak {
    width:178px;
  }
  .breath {
    width:178px;
  }
  .dance {
    width:178px;
  }
}
@media screen and (max-width: 570px) {
  .list {
    .item {
      font-size: 10px;
    }
  }
  .speak {
    width:167px;
  }
  .breath {
    width:167px;
  }
  .dance {
    width:167px;
  }
}

@media screen and (max-width: 800px) and (min-width: 680px){
  .list {
    .item {
      font-size: 11px;
    }
  }

  .speak {
    width:220px;
  }
  .breath {
    width:220px;
  }
  .dance {
    width:220px;
  }
}

.app-background {
  background: url('../img/background.png');
  background-size: 100% 100%;
}

.speak {
  content: url('../img/speak-300x400.gif');
}

.breath {
  content: url('../img/breath-300x400.gif');
}

.dance {
  content: url('../img/hi.gif');
}

#cloud-dynamic { width: 80%; height: 400px; }

#word-cloud {
  width: 400px;
  height: 300px;
  margin: 0 auto;
  padding: 2em 0;
  font: 100% 'Yanone Kaffeesatz', Arial, sans-serif;
  position: relative;
}

#word-cloud span {
  position: absolute;
}

#word-cloud .word-1 {
  top: 1em;
  left: 1.5em;
  font-size: 100px;
  color: #626262;
}

#word-cloud .word-2 {
  top: 0;
  left: 1em;
  font-size: 80px;
  color: #906060;
}

#word-cloud .word-3 {
  top: 1em;
  left: 1.5em;
  font-size: 60px;
  color: #c5c5c5;
}

#word-cloud .word-4 {
  top: 1em;
  left: 0;
  font-size: 40px;
  color: #511c1c;
  -moz-transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
}

#word-cloud .word-5 {
  top: 1.5em;
  right: -0.3em;
  color: #666;
  font-size: 70px;
  -moz-transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
}

#word-cloud .word-6 {
  bottom: 0;
  right: 1em;
  color: #5e0000;
  font-size: 120px;
}

#word-cloud .word-7 {
  bottom: 0.6em;
  left: 0;
  color: #6e6e6e;
  font-size: 90px;
  -moz-transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
}

.container {
  height:90vh;
}

.dog {
    position: absolute;
    right:0;
    bottom:0;
}

.word {
  background:none;float:left; width:50%; border:0px;
  color:#3719CF; font-weight: 900
}

.overlay {
  height: 100vh;
  min-width: 100%;
  background: #8E6A6A;
  opacity: 0.5;
  position: fixed;
}