.app-background {
  background: url('../img/bground.jpg') no-repeat center;
}

.stay1 {
  content: url('../img/greenfilter.jpg');
  width: 50%;
}

.stay2 {
  content: url('../img/img.jpg');
  width: 50%;
}