<ion-view view-title="Example">
  <ion-content padding="true">
      <label class="item item-input">
        <span class="input-label">First Name: </span>
        <input type="text" ng-model="exCtrl.model.firstname" placeholder="please enter first name">
      </label>
      <label class="item item-input">
        <span class="input-label">Last Name: </span>
        <input type="text" ng-model="exCtrl.model.lastname" placeholder="please enter last name">
      </label>
    <div>
      <button class="button button-block" ng-click="exCtrl.save(exCtrl.model)">
        Save
      </button>
      <!--<button class="button button-block" ng-click="select('lenur')">-->
        <!--Load-->
      <!--</button>-->
      <div class="block" ng-switch="exCtrl.items.length > 0">
        <div class="list" ng-repeat="item in exCtrl.items" ng-switch-when="true">
          <p>
            {{item.firstname}} --- {{item.lastname}}
            <div style="width:20px; height: 20px">
              <i style="margin-left:15px;" class="ion-close-round" ng-click="exCtrl.remove(item.id)"></i>
            </div>
          </p>
        </div>
        <span ng-switch-when="false"> No data</span>
      </div>
    </div>
  </ion-content>
</ion-view>
